#switch {
  margin: 4px auto;
  position: relative;
  width: 64px;
}
#switch button {
  width: 32px;
  height: 32px;
  background: #FFF var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}
.light #switch button {
  right: 0;
  left: initial;
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}